body {
    background-color: #000000;
    color: #ffffff;
    min-height: 100vh;
}

header .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    border-bottom: 1px solid rgb(75, 75, 75);
    margin-bottom: 30px;
    z-index: 100;
    top: 0;
    height: 80px;
}

header .menu a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 35px;
    padding: 0 35px;
    border-radius: 10px;
    transition: 0.3s;
}

header .menu a:hover{
    color: black;
    background: white;
}

header .btn{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

/* Champions CSS */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 2rem;
}

.gallery .card {
    min-width: 280px;
    max-width: 30%;
    transition: 0.1s linear;
    background-color: rgb(20, 20, 20);
}

.gallery .card:hover {
    transform: scale(1.02);
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
}

.menu .navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.025rem;
    border: 1px;
    height: 4rem;
    padding-right: 2.8rem;
    padding-left: 2.8rem;
    margin-right: -1px;
    margin-left: -1px;
    color: white;
}

.card-header-title{
    color: white;
    font-size: 1.3rem;
}

.cost-header{
    color: white;
    margin-right: 1.2rem;
    margin-top: 0.70rem;
    font-size: 1.3rem;
}

/* traits ccs */

.cards{
    max-width: 60%;
    margin-left: 23rem;
    margin-right: 10rem;
    margin-bottom: 0.40rem;
    background: rgb(20, 20, 20);
}

.card-title{
    color: white;
}
.contents{
    color: white;
}

p{
    color: white;
}

/* champion detail */

.card1{
    padding-left: 30rem;
    padding-right: 30rem;
}

.card-content{
    background-color: rgb(20, 20, 20);
    
}

.title.is-4{
    color: white;
    font-size: 2rem;
    margin-top: 0.79rem;
    margin-right: 18rem;
    display: flex;
    justify-content: center;
}

.content1{
    color: white;
    padding-top: 2rem;
}

h4{
    font-size: 1.4rem;
    margin-top: 0.79rem;
}

.desc{
    margin-top: 0.30rem;
}

/* comp list */

.container {
    border: 2px solid #ccc;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    margin-left: 17rem;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -5rem;
}

.photos img {
    display: block;
    float: left;
    flex: 0 0 auto;
    margin-left: 4rem;
}

.tier-icon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60px;
    height: 55px;
}

.icons{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-left: 3rem;
}

.label-icon{
    display: inline-flex;
    justify-content: center;
    margin-top: 4rem;
    margin-right: -7.95rem;
    margin-left: -2.7rem;
}

.comp-gird{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: .5rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: #333333;
    color: #d9d9d9;
}

.comp-name {
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2.5rem;
    font-size: 1.2rem;
}

.comp-desc{
    margin-left: 14.3rem;
}