.back-1{
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.back-2{
    max-width: 100rem;
    width: 100%;
    flex: 1 1 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.back-3{
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.cont-1{
    display: flex;
    padding: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-box-align: center;
    align-items: center;
    border-width: 1px 1px 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(128, 128, 128);

}

.cont-2{
    flex-wrap: wrap;
}

.cont-3{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem;
}

.cont-4{
    display: flex;
    align-items: center;
}

.trait-info{
    font: 500 1.4rem / 2rem;
    font-size: 1.4rem;
    letter-spacing: 0.025rem;
    color: white;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    flex-direction: column;
    justify-content: center;
    width: 9rem;
    margin-right: 2rem;

}

.cont-5{
    letter-spacing: 0.025rem;
    display: inline-block;
    vertical-align: middle;
}

.abil-1{
    display: flex;
}
.abil-info-1{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 2rem;
    height: 2.5rem;
    margin-right: 0.1rem;
    font-size: 1.5rem;
}

.abil-info-2{
    letter-spacing: 0.025rem;
    margin-top: 0.3rem;
    font-size: 1.4rem;
    line-height: 2rem;
}