{% extends 'base.html' %}
{% block content %}
<h1>Hextech Augments</h1>
<hr />
<div class="menu">
        <li class="navbar-item"><a href="{% url 'augments' %}">Silver</a></li>
        <li class="navbar-item"><a href="{% url 'augmentgold' %}">Gold</a></li>
        <li class="navbar-item"><a href="{% url 'augmentpris' %}">Prismatic</a></li>
    </div>
    <hr />
</div>
<div>
    {% for augment in augments %}
  <div class="cards">
      <div class="card-content">
        <div class="card-title">  <img src="{{ augment.icon }}"/>{{ augment.name }}</div>
        <div class="content">{{ augment.desc }}</div>
      </div>
  </div>
</div>
{% endfor %}
{% endblock %}