{% extends 'base.html' %} {% block content %}

<h1>Champion Details</h1>
<hr />
<div class="card1">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{ champion.icon }}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-18x18">
            <img src="{{ champion.abilicon }}" alt="Placeholder image">
        </figure>
    </div>
    <h4>{{ champion.abilname }}</h4>
        <div class="media-content">
          <p class="title is-4">{{ champion.name }}</p>
        </div>
      </div>
      <div class="content1">{{ champion.ability }}
    </div>
    <div class="desc">
        <p>HP: {{ champion.hp }}</p>
        <p>Armor: {{ champion.armor }}</p>
        <p>Magic Resist: {{ champion.magic_resist }}</p>
        <p>Damage: {{ champion.damage }}</p>
        <p>Attack Speed: {{ champion.attack_speed }}</p>
        <p>Initial Mana: {{ champion.initialmana }}</p>
        <p>Range: {{ champion.range }}</p>
    </div>
    </div>
  </div>
{% endblock %}