{% extends 'base.html' %} {% block content %}

<h1>Champion Details</h1>
<div class="gallery">
    <div class="card" >
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{ champion.icon }}" alt="{{ champions.name }}" style="width: 300px; height: 210px;"/>
            </figure>
            <img src="https://cdn.mobalytics.gg/assets/common/icons/tft-synergies-set7/24-shimmerscale.svg?v=12"/>
            <p>{{ champion.traits }}</p>
        </div>
        <div class="card-header">
            <p class="card-header-title">{{ champion.name }} Cost : {{ champion.cost }}</p>
        </div>
    </div>
</div>
{% endblock %}
