{% extends 'base.html' %}
{% block content %}
<h1>All Champions</h1>
<hr />
<div class="gallery">
  {% for champion in champions %}
  <a href="{% url 'detail' champion.name %}">
    <div class="card" >
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{ champion.icon }}" alt="{{ champions.name }}" style="width: 300px; height: 210px;"/>
            </figure>
            <img src="https://cdn.mobalytics.gg/assets/common/icons/tft-synergies-set7/24-shimmerscale.svg?v=12"/>
            <!-- <p>{{ champion.traits }}</p> -->
        </div>
        <div class="card-header">
            <p class="card-header-title">{{ champion.name }}</p>
            <p class="cost-header">Cost: {{ champion.cost }}</p>
        </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
