{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}
<h1>Team Fight Meta</h1>
<hr />
    {% for item in videos %}
    <center>
    {% video item.url '426x240' %}
    </center>
    {% endfor %}
    {% for comp in comps %}
    <div class="container">
        <div class="comp-name">{{ comp.name }}</div>
        <div class="comp-desc">{{ comp.desc }}</div>
        <div class="photos">
            <div class="comp-grid">
                <img class="tier-icon"src="{{ comp.tier }}">
            <img class="icons" src="{{ comp.imgone }}">
            <img class="icons" src="{{ comp.imgtwo }}">
            <img class="icons" src="{{ comp.imgthree }}">
            <img class="icons" src="{{ comp.imgfour }}">
            <img class="icons" src="{{ comp.imgfive }}">
            <img class="icons" src="{{ comp.imgsix }}">
            <img class="icons" src="{{ comp.imgseven }}">
            <p class="label-icon">{{ comp.nameseven }}</p>
            <p class="label-icon">{{ comp.namesix }}</p>
            <p class="label-icon">{{ comp.namefive }}</p>
            <p class="label-icon">{{ comp.namefour }}</p>
            <p class="label-icon">{{ comp.namethree }}</p>
            <p class="label-icon">{{ comp.nametwo }}</p>
            <p class="label-icon">{{ comp.nameone }}</p>
        </div>
    </div>
    </div>
    </div>
    {% endfor %}
{% endblock %}
