{% extends 'base.html' %}
{% block content %}
<h1>Traits</h1>
<hr />
{% for trait in traits %}
  <div class="cards">
      <div class="card-content">
        <div class="card-title">  <img src="{{ trait.icon }}"/>{{ trait.name }}</div>
        <div class="content">{{ trait.desc }}
        <div class="card-title"> 
        <img src="{{ trait.icon }}"/>{{ trait.name }}</div>
        <div class="content">Description: {{ trait.desc|linebreaks }}
        </div>
        <div>{{ trait.champions }}</div>
      </div>
  </div>
  {% endfor %}
{% endblock %}